<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>Welcome to page 3</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/">Home</a>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page4">Page 4</a>
  
  <form action="/setDogName" method="POST">
    <label for="dogName">Name:</label>
    <input type="text" name="dogName" value="">
    <label for="breed">Breed:</label>
    <input type="text" name="breed" value="">
    <label for="age">Age:</label>
    <input type="number" name="age" value="">
    <input type="submit" value="submit">
  </form>
  
  <br/>
  <br/>
  
  <form action="/findDogByName" method="GET">
    <label for="dogName">Dog to Update Age Of:</label>
    <input type="text" name="dogName" value="">
    <input type="submit" value="Submit">
  </form>
</body>
</html>